body{
    background-color: lightblue;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
}
#heading{
    justify-content: center;
    align-content: center;
    background-color: rgb(80, 79, 160);
    color : red;
    display: flex;
    font-size: 3rem;
    margin-top: 0px;
    width: 100vw;
}
#first{
    display: flex;
    /* background-color: blue; */
    margin-top: 0.5rem;
}
#input-box{
    margin-top: 2vh;
    display: flex;
    height: 5vh;
    justify-content: space-around;
}
#input{
    font-size: 1.5rem;
    width: 30vw;
    text-align: center;
    border-radius: 1rem;
    border-color: white;
}
#button{
    width: auto;
    font-size: 2rem;
    color: rgb(175, 21, 167);
}
.input{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    /* background-color: blue; */
    width: 100vw;
}
.first-half{
    display: flex;
    height :78vh;
    width: 50vw;
    background-color: red;
    /* color: blue */
    margin-top: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
}
.elements{
    height: 5vh;
    width: 47vw;
    /* font-weight: 500; */
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: cyan; */
    margin-top: 0.25rem;
}
.font1{
    font-weight: 900;
    font-size: 2rem;
    color: rgb(2, 238, 255);
}
.font2{
    font-weight: 900;
    font-size: 2rem;
    color: rgb(156, 26, 243);
}
.second-half{
    display: flex;
    height :78vh;
    width: 47vw;
    /* margin-left: 1vw; */
    background-color: lightsalmon;
    /* color: red; */
    margin-top: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
}

#body-problems{
    justify-content: space-between;
}
